@font-face {
	font-family: 'Inter';
	src: url('image/Inter-Regular.ttf');
}

@font-face{
	font-family: 'Didact Gothic';
	src: url('image/DidactGothic-Regular.ttf')
}

@font-face{
	font-family: 'Forum';
	src: url('image/Forum-Regular.ttf')
}

body {
	width: 1000px;
	margin: auto;
	font-family: 'Didact Gothic';
}

body p {
	font-family: 'Inter';
	/*font-size: 14pt;*/
	line-height: 1.28;
}

a {
	color: black;
	text-decoration: none;
}

.products {
	margin-top: -6px;
}

.main_part {
	margin-bottom: 154px;
}

.left_float {
	float: left;
}

.right_float {
	float: right;
}


.header {
	font-size: 10.12pt;
}

.header ul {
	list-style-type: none;
	padding: 0px; 
}

.header li {
	display: inline;
}


.menu .second_line img {
	width: 18px;
}


.first_line, .second_line {
	margin: 8.84px 85px 12px; 
}

.first_line li:first-child {
	margin-left: 0px;
}

.first_line li {
	margin-left: 55px;
}


.second_line {
	height: 50px;
}

.second_line .right_float {
	margin-right: 0.5px;
}

.second_line .right_float li:first-child {
	margin-left: 0px;
}

.second_line .right_float li {
	margin-left: 30px;
}

.second_line .left_float a {
	font-size: 14pt;
	font-family: 'Forum';
	text-decoration: underline;
}

.second_line .right_float ul {
	margin: 0px;
}

.second_line ul {
	margin: 0px;
}


.main_part img {
	width: 1000px;
	height: 887px;
}


.first {
	float: left;
}



.full_width_product img {
	width: 1000px;
	height: 386.96px;	
}

.text_product {
	font-family: 'Inter';	
	font-size: 15.11pt;
}

.full_width_product .text_product {
	margin: 0px 85px 0px;
}

.full_width_product .text_product {
	margin-top: 15px;
	height: 20px;
}



.four_big_photo_list img {
	width: 405px;
	height: 541px;
}

.four_big_photo_list li {
	display: inline;
}

.four_big_photo_list div {
	margin-top: 32.5px;
	margin-left: 20px;
	display: inline-block;
}

.four_big_photo_list .first {
	margin-left: 0px;
}

.four_big_photo_list {
	padding-left: 0px;
	margin: 31px 0px 10px;
	list-style-type: none;
}


.unfull_width_product {
	margin: 0px 85px 0px;
}

.unfull_width_product .text_product {
	margin-top: -4.5px;
	margin-bottom: 40px;
	padding-left: 0px;
}

.instagram {
	background: #D9D9D9;
	width: 1000px;
	height: 150px;
}

.instagram2 {
	padding-left: 0px;
	margin: 40px 85px 60px;
}

.button {
	font-size: 12pt;
	text-decoration: underline;
	height:40px;
	width: 128px;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	background:#D9D9D9;
	cursor:pointer;
}

.instagram .left_float {
	width: 600px;
	margin-top: 20px;
	font-size: 15.11pt;
}

.instagram .right_float {
	margin-top: 40px;
}

.instagram input{
	font-size:1.2vw;
}


.four_small_photo_list div {
	width: 190px;
	margin-left: 24px;
	display: inline-block;
}

.four_small_photo_list img {
	width: 190px;
	height: 266px;
}

.unfull_width_product .four_small_photo_list .first {
	margin-left: 0px;
}

.unfull_width_product .hack {
	margin-left: 18px;
}

.four_small_photo_list {
	padding-left: 0px;
	margin-top: 60px;
	list-style-type: none;
}

.four_small_photo_list li {
	display: inline;
}


.footer {
	background: #343434;
	margin-top: 159px;
	width: 1000px;
	height: 427px;
}

.footer a {
	font-size: 16.11pt;
	color: white;
}

.footer ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px 85px 0px;
}

.footer li {
	margin-bottom: 10px;
}

.footer li:first-child {
	margin-bottom: 26px;
}

.footer_custom_first {
	float: left;
	margin-top: 48px;
	display: inline-block;
}

.footer_custom_second {
	float: right;
	margin-top: -280px;
	margin-right: 287px;
	display: inline-block;
}

.footer_custom_third {
	margin-top: 30px;
}

.footer_custom_third li:first-child {
	margin-left: 0px;
}

.footer_custom_third li {
	margin-left: 24.5px;
}

.social_media_icons li {
	display: inline;
}

.social_media_icons img {
	width: 18.25px;
	height: 18.5px;
}








