@font-face {
    font-family: 'Inder';
    src: 
        url('Inder-Regular.woff2') format('woff2'),
        url('Inder-Regular.woff') format('woff'),
        url('Inder-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }